<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>
                <h2>Edit Profile</h2>
				        <hr class="colorgraph">
                <div class="field">
                    <%= f.label :name %><br />
                    <%= f.text_field :name, autofocus: true, class: "form-control input-lg", placeholder: "Name", required: true %>
                </div>

                <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, class: "form-control input-lg", required: true, pattern: "[^@]+@[^@]+\.[a-zA-Z]{2,}" %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                    <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg" %>
                </div>

                <div class="field">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-lg" %>
                </div>

                <div class="field">
                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                    <%= f.password_field :current_password, autocomplete: "off", class: "form-control input-lg" %>
                </div>
                <hr class="colorgraph">
                <div class="row">
					          <div class="col-xs-6 col-sm-6 col-md-6 actions">
                        <%= f.submit "Update",class: "btn btn-lg btn-success btn-block" %>
					          </div>
				        </div>
            <% end %>


            <%= link_to "Back", :back %>
	      </div>
    </div>
</div>
