<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <h2>Log In</h2>
				        <hr class="colorgraph">
                <%= devise_error_messages! %>
                <%- flash.each do |name, msg| -%>
                    <div id="error_explanation">
                        <ul>
                            <li id="flash_#{name}"><%= msg %></li>
                        </ul>
                    </div>
                <%- end -%>
                <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: "Email Address", required: true %>
                </div>

                <div class="field">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: "Password", required: true %>
                </div>

                <% if devise_mapping.rememberable? -%>
                    <div class="field">
                        <div class= "btn">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                        </div>
                        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                            <%= link_to "Forgot your password?", new_password_path(resource_name), class: "btn btn-link a-link pull-right" %><br />
                        <% end -%>
                    </div>
                <% end -%>
                <hr class="colorgraph">
                <div class="row">
					          <div class="col-xs-6 col-sm-6 col-md-6 actions">
                        <%= f.submit "Log In",class: "btn btn-lg btn-success btn-block" %>
					          </div>
					          <div class="col-xs-6 col-sm-6 col-md-6">
                        <%= render "devise/shared/links" %>
					          </div>
				        </div>
            <% end %>
	      </div>
    </div>
</div>
