<!DOCTYPE html>
<html>
    <head>
        <title>ASV Broker Details</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header" style="width:120px;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img alt="ASV Logo" src="http://www.asvsecurity.ie/wp-content/uploads/2015/09/asv-logo.png" width='120px' />
                </div>
                <div class="collapse navbar-collapse">
                    <p class="navbar-text pull-left">
                        <% if user_signed_in? && current_user.admin? %>
                            <%= link_to 'Permissions', user_permission_index_path(current_user), class: 'navbar-link' %>
                        <%end%>
                    </p>
                    <p class="navbar-text pull-right">
                        <% if user_signed_in? %>
                            Logged in as <strong><%= current_user.name %></strong>.
                            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                        <% else %>
                            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                        <% end %>
                    </p>
                </div>
            </div>
        </nav>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
